:root {
  --primary-dark: #1c2237;
  --primary: #4c40f7;
}

.primary {
  background-color: var(--primary);
  color: #fff !important;
  border: none;
}

.primary:hover {
  background-color: #fff;
  color: var(--primary) !important;
  border: none;
}

.primary div {
  color: #fff !important;
}

.primary:hover div {
  color: var(--primary) !important;
}
