.clients__section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clientBg {
  /* background-image: url("images/client-bg.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.clients__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1300px;
}

.clients__panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.clients__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 90vw;
  overflow: hidden;
}

.clients__container-row {
  display: flex;
  flex-direction: row;

  /* flex-wrap: wrap; */

  /* justify-content: center; */
  margin-top: 100px;
  white-space: nowrap;
  transition: ease 1000ms;
}

.clients__container-col {
  padding: 0 0 80px 30px;
  min-width: 400px;
  white-space: normal;
  text-align: center;

  /* flex: 0 0 33.33%; */
}

.clients__container-col > img {
  height: 25vh;
}

.clients__heading {
  color: #1c2237;
  margin-bottom: 24px;
}

@media screen and (max-width: 960px) {
  .clients__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .clients__wrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .clients__container-col {
    flex: 0 0 45%;
    padding: 0 30px 50px 30px;
  } */

  .clients__top-line {
    font-size: 30px;
    text-align: center;
  }
}
