.about__section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  max-width: 1300px;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about__container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

.about__container-col {
  display: flex;
  flex: 0 0 33.33%;
}

.about__heading {
  color: #1c2237;
  margin-bottom: 24px;
}

@media screen and (max-width: 960px) {
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about__wrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__container-col {
    flex: 0 0 100%;
  }
}
