.home__section {
  /* overflow-x: hidden; */
  font-family: 'Poppins-Medium', sans-serif;
}

.combinedBg {
  background-image: url("images/combined-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 652px;
}

.fillBg {
  width: 100%;
  height: 100vh;
  z-index: -2;
  position: fixed;
}
