.team__section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-bg {
  /* background-image: url("images/team-bg.svg"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.team__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: 1300px;
}

.team__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.team__container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

.team__container-col {
  display: flex;
  flex: 0 0 25%;
  padding-top: 180px;
}

.team__heading {
  margin-bottom: 24px;
}

.team-card-name {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 26px;
  margin-top: 0;
  background: linear-gradient(90deg, #f5fcfb 20%, #a1ecdf 100%);
}

.team__detail {
  width: 100%;
}

.team-desc {
  font-size: 13px;
}

.team__card-bg {
  height: 380px;
}

.team__card-bg:hover {
  background: #fff;
  box-shadow: 0 4px 40px rgb(196 195 195 / 25%);
  transform: scale(1);
  transition: all 0.5s ease;
}

.team__card-image {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.team__card-container-bg {
  background: linear-gradient(90deg, #f0faf5 20%, #e0f1ef 100%);
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin-top: -260px;
}

.team__card-bg:hover .team__card-image {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.team__btn {
  opacity: 0;
}

.team__card-bg:hover .team__btn {
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 960px) {
  .team__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .team__wrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team__container-col {
    flex: 0 0 49%;
  }

  .team__container-row {
    flex-direction: row;
  }
}
